<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" useKernelMode="true" />
      </authentication>
    </security>
    <rewrite>
      <rules>
        <rule name="TravelReimbursementNodeProxy" stopProcessing="true">
          <match url="(.*)" />
          <serverVariables>
            <set name="HTTP_X_IIS_WINDOWS_USER" value="{LOGON_USER}" replace="true" />
            <set name="HTTP_X_FORWARDED_PROTO" value="https" replace="true" />
          </serverVariables>
          <action type="Rewrite" url="http://127.0.0.1:5435/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
